<header>
  <div class="top">
    <div style="text-align: end">
      <h3>CHARLOTTE LALAGUE</h3>
      <h4>Diététicienne</h4>
    </div>
    <div style="flex: 1"></div>
    <div style="margin-right: 30px">
      <a href="https://www.facebook.com/Lalag%C3%BCe-Charlotte-Di%C3%A9t%C3%A9ticienne-102265695696033"><em class="iconoir iconoir-facebook dark-filter"></em></a>
    </div>
    <div style="margin-right: 30px">
      <a href="https://www.instagram.com/charlotte.lalague.nutrition/"><em class="iconoir iconoir-instagram dark-filter"></em></a>
    </div>
    <div style="margin-right: 30px">
      <a href="tel:0606436830"><em class="iconoir iconoir-phone dark-filter"></em></a>
    </div>
    <div>
      <a href="mailto:lalague.consultations@gmail.com"><em class="iconoir iconoir-mail dark-filter"></em></a>
    </div>
  </div>
</header>
<div class="background"></div>
