$dark-primary-color: #2C2C2C;
$primary-color: #AABD8C;
$accent-color: #F39B6D;
$dark-background: #E9E3B4;
$background: #FFF9EC;
$gradient: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(233,227,180,1) 44%, rgba(233,227,180,1) 85%);
$gradient-invert: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(233,227,180,1) 44%, rgba(233,227,180,1) 85%);
$gradient-green: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(196,209,175,1) 20%, rgba(170,189,140,1) 50%, rgba(180,197,154,1) 80%, rgba(255,255,255,1) 100%);
