<div class="w3-row">
  <div class="w3-twothird" style="padding: 30px;">
    <h3>Qui suis-je ?</h3>
    <div style="margin-left: 20px">
      Je suis diététicienne diplômée d’Etat et en nutrition des activités physiques et sportives [enregistrée au répertoire national des professionnels de santé, répertoire ADELI, auprès de l’ARS (Agence Régional de Santé) du Vaucluse (84)].
      <br>
      Je suis conventionnée avec une association : Cancer et Qualité de Vie à Domicile (CQVD), et avec le Centre Hospitalier d’Avignon dans la prise en charge en cancérologie.
      <br><br>
      Passionnée par la diététique clinique et métabolique, l’aspect relationnel et l’alliance thérapeutique ont une grande place dans ma pratique professionnelle, car font, selon moi, intégralement partis du soin diététique.
      <br><br>
      La nutrition ne concerne pas uniquement les calories, les protéines, le sucre, … etc. D’autres paramètres entrent dans la sphère de l’alimentation, tels que les émotions, l’enfance et les expériences passées.
      Ainsi,  l’acte alimentaire devient un geste personnel, que nous ne devons pas modifier entièrement d’un seul coup, en appliquant des « régimes » et autres plans alimentaires non personnalisés et non adaptés à ce que vous êtes.
      <br><br>
      Ici vous serez pris en compte dans votre globalité, avec écoute active et dans une neutralité bienveillante.
    </div>
  </div>
  <div class="w3-third" style="padding: 30px;">
    <img src="assets/charlotte.jpg" style="width: 100%; object-fit: cover;  border-radius: 5px;">
  </div>
</div>
