<div class="w3-row">
  <!--h3>Ma vision du métier</-h3>
  Passionnée par la diététique clinique et métabolique, j’exerce (mon métier de diététicienne) avec application et implication.
  L’aspect relationnel et l’alliance thérapeutique ont une grande place dans ma pratique professionnelle, car font, selon moi, intégralement partis du soin diététique.
  La nutrition ne concerne pas uniquement les calories, les protéines, le sucre, … etc. D’autres paramètres entrent dans la sphère de l’alimentation, tels que les émotions, l’enfance et les expériences passées.
  Ainsi,  l’acte alimentaire devient un geste personnel, que nous ne devons pas modifier entièrement d’un seul coup, en appliquant des « régimes » et autres plans alimentaires non personnalisés et non adaptés à ce que vous êtes.

  Ici vous serez pris en compte dans votre globalité, avec écoute active et dans une neutralité bienveillante.
  <br><br-->
  <!--h3>Contactez moi</h3>
  <div style="display: flex" class="w3-row">
    <div class="w3-half" style="text-align: center">
      <a href=""><em class="material-icons">phone</em>0000000000</a>
    </div>
    <div class="w3-half" style="text-align: center">
      <a href="mailto:charlotte@email.com"><em class="material-icons">email</em>charlotte@email.com</a>
    </div>
  </div-->
</div>
