<section>
  <div class="toto">
    <div>
      <h1>Un suivi diététique est avant tout<br>une alliance entre le patient et le diététicien(ne)</h1>
      <p>
      </p>
    </div>
  </div>
</section>
<section class="services">
  <div class="section-container">
    <app-services></app-services>
  </div>
</section>
<section class="me">
  <div class="section-container">
    <app-me></app-me>
  </div>
</section>
<section class="about">
  <div class="section-container">
    <app-about></app-about>
  </div>
</section>
